# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bchospital
DB_USER=postgres
DB_PASSWORD=postgres

# JWT Secrets (Randomly generated strings)
JWT_ACCESS_SECRET=your-256-bit-secret-for-access-token-which-should-be-very-long
JWT_REFRESH_SECRET=your-256-bit-secret-for-refresh-token-which-should-be-very-long

# Web3j (Hyperledger Besu)
BESU_RPC_URL=http://localhost:8545

# Email Config
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password
